<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand text-white">Notes App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <span class="form-inline my-2 my-lg-0">
      <a
        routerLink="/login"
        class="btn btn-outline-sedondary text-white my-2 my-sm-0"
        type="button"
      >
        Logout
      </a>
    </span>
  </div>
</nav>
