@import "./variables";

.primary-button {
  background-color: $black;
  color: $white;
}

.error-msg {
  font-size: 12px;
  color: $red;
  margin-top: 10px;
}

.c-pointer {
  cursor: pointer;
}

.text-blue {
  color: $blue !important;
}
